.container {
      padding: 30px;
}

.container-descriptions {
      margin-bottom: 30px;
}

.container-title {
      margin-bottom: 20px;
}

.book-title span {
      color: var(--accent);
}

.book-description p {
      margin-bottom: 20px;
}

.book-description img {
      width: 30%;
      height: 288px;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
}

.box-layout {
      width: 50%;
      height: 300px;
      border-radius: 20px;
      background-color: #272727;
      padding: 20px;
}

.top-box {
      margin-bottom: 20px;
}

.box-layout .top-box input {
      width: 15px;
      height: 15px;
}

.box-layout .top-box span {
      font-size: 20px;
}

.middle-box {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      flex-wrap: wrap;
}

.middle-box div {
      display: flex;
      align-items: center;
      justify-content: center;
}

.middle-box input {
      width: 20px;
      height: 20px;
}

.middle-box label {
      margin-left: 10px;
}

.middle-box div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
}

.bottom-box {
      margin-bottom: 20px;
}

form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
}

form div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
}



form input[type="checkbox"] {
      display: none;
}

form label {
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-weight: bold;
      white-space: nowrap;
}

form label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 25px;
      height: 25px;
      border: 2px solid #333;
      border-radius: 50%;
      background-color: #fff;
      transition: all 0.3s ease;
      transform: translateY(-4px);
}

form input[type="checkbox"]:checked+label:before {
      background-color: #5cb85c;
      border-color: #5cb85c;
}

form div label:after {
      content: "\2713";
      position: absolute;
      top: 25%;
      left: 11%;
      transform: translate(-50%, calc(-50% + 4px));
      font-size: 20px;
      color: #fff;
      opacity: 0;
      transition: all 0.3s ease;
}

form input[type="checkbox"]:checked+label:after {
      opacity: 1;
}

button {
      display: inline-block;
      padding: 12px 24px;
      background-color: var(--accent);
      color: var(--font2);
      font-size: 16px;
      font-weight: bold;
      border-radius: 4px;
      text-decoration: none;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
}

button span {
      display: inline-block;
      position: relative;
      transition: transform 0.3s ease;
}

button:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
}

button:hover {
      color: #ffffff;
}

button:hover span {
      transform: translateY(-100%);
}

button:hover:before {
      transform: scaleX(1);
}