.content {
    margin-left: 50px;
    padding: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}

header i {
    font-size: 36px;
}

header h1 {
    font-size: 36px;
}

.settings-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.settings-tabs > div {
    padding: 15px;
    background: var(--bg2);
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.settings-tabs > div h2 {
    font-size: 18px;
}

.settings-tabs a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: var(--font);
    font-size: 18px;
}

.settings-container {
    flex: 1;
    margin-left: 30px;
}

.settings-container .area {
    margin-bottom: 30px;
    padding: 15px;
    background: var(--bg2);
    border-radius: 8px;
}
