.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}

.page-content {
    flex: 3;
}

.downloaded {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--check);
    gap: 10px;
}

.book-tabs {
    padding: 25px 0;
}

article#summary p {
    margin-bottom: 1rem;
}

.related {
    flex: 1;
}
